#
# .env.example.rabbitmq
#

RABBITMQ_DEFAULT_USER=rabbitmq_admin
RABBITMQ_DEFAULT_PASS=rabbitmq_password
RABBITMQ_DEFAULT_VHOST=leads_vhost

# Usuario de aplicación (creado via definitions.json)
RABBITMQ_APP_USER=n8n_producer
RABBITMQ_APP_PASSWORD=rabbitmq_password
